@CHARSET "UTF-8";

label{
	font-family: verdana;
	font-size: 13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


input{
	
	width: 20%;
}


button{
	background-color: #00aaa6;
}

input[type=submit]{
	 background-color: #00aaa6;
}


