@CHARSET "UTF-8";

label{
	font-family: verdana;
	font-size: 13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
	
	font-family: verdana;
	font-size: 13px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}


input{
	
	width: 20%;
}


button {
    background-color: #00aaa6; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

input[type=submit]{
	 background-color: #00aaa6;
}


h2{
	font-family:verdana;	
}

input[type=text]:focus {
    background-color: lightblue;
}


input[type=text]{
	width: 40%;
	padding: 5px 10px;
}


input[type=email]{
	width: 40%;
	padding: 5px 10px;
}

label{
	font-family: verdana;
}



